# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter / Kaggle
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/